
.container{
    height: 0.4em;
    width: 85%;
    margin: 2em auto;
    margin-top: 40px;
    margin-bottom: none;
    padding: 20px;
    padding-bottom: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.fa-gear  {
    font-size: 2rem;
}
.fas{
    font-size: 2rem;
}
.popup{
    height: 50em;
    width: 70em;
    position: absolute;
    top: 46%;
    left: 50%;
    border: black;  
    border-width: 1px;
    border-style:dashed;
    transform: translate(-50%, -50%);
    z-index: 100; 
    background-color: rgba(41, 41, 41, 0.5);
    backdrop-filter: blur(3.5px);
    color:antiquewhite;
    border-radius: 2%;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 1%;
}
.popup-top{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.popup-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.left{
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
    height: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.right{
    font-size: 2rem;
    padding: 2rem;
    width: 100%;    
    height: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.popup-bottom{  
    display: flex;
    justify-content: space-around;
    align-items:center;
}
button{
    width: 50px;
    height: 50px; 
    border: none;
    background-color: transparent;
}