<header class="container">
    <p>user</p>
    <p [ngStyle]="{'width':'5%'}">{{strTimer}}</p>
    <h1>POP THE BUBBLE!</h1>
    <p>{{strPoints}}{{points}}</p>
    <p><button routerLink="/settings"><i class="fa-solid fa-gear"></i></button></p>
</header>
<button (click)="showEndScreen()">Fechar</button>
<div class="popup" *ngIf="flagEndScreen" class="popup">
    <div class="popup-top">
        <h1>CONGRATULATIONS!</h1>
    </div>
    <div class="popup-info">
        <div class="left">
            <p clss="data">Your Time: {{strTimer}}</p>
        </div>
        <div class="right">
            <p class="info">Total Bubbles Popped: {{points}}</p>
        </div>
    </div>
    <div class="popup-bottom">
        <button class="replay" (click)="resetGame()">Replay</button>
        <button class="settings" routerLink="/settings">Change Settings</button>
        <button class="exit" routerLink="/" >Exit</button>
    </div>
</div>