<header class="container">
    <p [ngStyle]="{'width':'5%'}">{{strTimer}}</p>
    <p>{{strPoints}}{{points}}</p>
</header>
<div class="popup" *ngIf="flagEndScreen" class="popup">
    <div class="popup-top">
        <h1>CONGRATULATIONS!</h1>
    </div>
    <div class="popup-info">
        <div class="left">
            <p clss="data">Your Time: {{strTimer}}</p>
        </div>
        <div class="right">
            <p class="info">Total Bubbles Popped: {{points}}</p>
        </div>
    </div>
    <div class="popup-bottom">
        <button class="replay" (click)="resetGame()"><i class="fas fa-rotate-left"></i></button>
        <button class="settings" routerLink="/settings"><i class="fa-solid fa-gear"></i></button>
        <button class="exit" routerLink="/" ><i class="fas fa-house"></i></button>
    </div>
</div>