button {
    background-color: white;
    padding: 10px;
    border: 1px;
    max-width: 10px;
    max-height: 10px;
    display:inline-block ;
    margin: 2px;
    border-radius: 100%;
    box-sizing:content-box;
    position:relative;
  }